body {
      font-family: Arial, sans-serif;
      max-width: 700px;
      margin: 2rem auto;
      padding: 1rem;
    }
h1 {
    text-align: center; 
    margin-bottom: 20px;
    text-decoration: underline;
}
.label{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;

}
    /*form {
      margin-bottom: 2rem;
      border: 1px solid #ccc;
      padding: 1rem;
      border-radius: 8px;
    }*/
#placeForm{
    border: 2px solid rgb(43, 42, 42);
    border-radius: 10px;
    background-color: #aaa;
    padding: 20px 40px;
}
.input{
    padding: 15px 15px;
    border-radius: 8px;
    font-size: 1.2em;
    width: 95%;
    margin-bottom: 20px;
    margin-top: 20px;
}
#notes{
     padding: 15px 15px;
    border-radius: 8px;
    width: 95%;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 1.2em;
}
button{
    padding: 8px 15px;
    border-radius: 8px;
    margin-top: 20px;
    color: #fff;
    background-color: rgb(65, 64, 64);
    font-size: 1em;
    font-weight: bold;
}
h2{
    margin-top: 30px;
    font-size: 1.5em;
}
    
ul { 
    list-style: none; 
    padding-left: 0; 
}
    
li {
    cursor: pointer;
    margin: 0.5rem 0;
    padding: 0.5rem;
    background-color: #f0f0f0;
    border-radius: 4px;
}
li:hover { 
    background-color: #e0e0ff; 
}
.summary {
    margin-top: 1rem;
    padding: 1rem;
    border: 1px solid #aaa;
    border-radius: 6px;
    background-color: #fafafa;
    }